{% extends 'base.html' %}
{% block body %}
{% load static %}
<h1 style="text-align:center;">Home Page</h1>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{post.id}}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.date_posted }}</td>
                    <td><a href="{% url 'posts:post_delete' post.id %}">Delete</a> - <a href="{% url 'posts:post_update' post.id %}">Update</a></td>
                </tr>
            {% endfor %}
    </tbody>
</table>
{% for post in posts %}
<img src="{{ post.images.url }}" alt="images" width="200" height="200">
{% endfor %}
</div>
{% endblock body %}